<div class="card-header text-center">
  <h3>Restablecer contraseña</h3>
</div>
<div class="card-body p-2">
  <form [formGroup]="restoreForm" (ngSubmit)="onSubmit()">
    <!-- Contraseña nueva -->
    <div class="form-group">
      <label for="contrasena">Contraseña nueva nueva</label>
      <input
        type="password"
        id="contrasena"
        class="form-control mb-2"
        formControlName="contrasena"
        [ngClass]="{
          'is-invalid':
            restoreForm.get('contrasena')?.invalid &&
            restoreForm.get('contrasena')?.touched
        }"
      />
      <div
        *ngIf="
          restoreForm.get('contrasena')?.invalid &&
          restoreForm.get('contrasena')?.touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="restoreForm.get('contrasena')?.errors?.['required']">
          Contraseña nueva es requerida
        </div>
        <div *ngIf="restoreForm.get('contrasena')?.errors?.['minlength']">
          Contraseña nueva debe tener al menos 6 caracteres
        </div>
      </div>
    </div>

    <!-- Confirmar Contraseña nueva -->
    <div class="form-group">
      <label for="confirmPassword">Confirmar Contraseña nueva</label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
        [ngClass]="{
          'is-invalid':
            restoreForm.get('confirmPassword')?.invalid &&
            restoreForm.get('confirmPassword')?.touched
        }"
      />
      <div
        *ngIf="
          restoreForm.get('confirmPassword')?.invalid &&
          restoreForm.get('confirmPassword')?.touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="restoreForm.get('confirmPassword')?.errors?.['required']">
          Confirmar contraseña nueva es requerida
        </div>
        <div *ngIf="restoreForm.get('confirmPassword')?.errors?.['mustMatch']">
          Las contraseña nuevas no coinciden
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 mt-4">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="restoreForm.invalid"
      >
        Cambiar contraseña
      </button>
      <div class="d-flex justify-content-between mt-3">
        <a routerLink="/auth/login" class="btn btn-link p-0">Iniciar sesión</a>
      </div>
    </div>
  </form>
</div>
