    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nuestro equipo</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB6wpSTwywg2M9-J5jHgYKM_hWhfBpsCeGgaPM_J8MNyJhFe03Z_MmdOYntGoLeB2d3dM&usqp=CAU" width="360" height="360" class="img-fluid" alt="">
                <div class="social">
                  <span>Presidente Árbitro</span>
                </div>
              </div>
              <div class="member-info">
                <h4>Ing. Alejandra Reyes Ramos</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB6wpSTwywg2M9-J5jHgYKM_hWhfBpsCeGgaPM_J8MNyJhFe03Z_MmdOYntGoLeB2d3dM&usqp=CAU" width="360" height="360" class="img-fluid" alt="">
                <div class="social">
                  <span>Secretario Oficial I</span>
                </div>
              </div>
              <div class="member-info">
                <h4>CP. Josefina Teomitzi Solís</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB6wpSTwywg2M9-J5jHgYKM_hWhfBpsCeGgaPM_J8MNyJhFe03Z_MmdOYntGoLeB2d3dM&usqp=CAU" width="360" height="360" class="img-fluid" alt="">
                <div class="social">
                  <span>Secretaria Sindical I</span>
                </div>
              </div>
              <div class="member-info">
                <h4>Mtra. Paulina Adriana García Ortíz</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB6wpSTwywg2M9-J5jHgYKM_hWhfBpsCeGgaPM_J8MNyJhFe03Z_MmdOYntGoLeB2d3dM&usqp=CAU" width="360" height="360" class="img-fluid" alt="">
                <div class="social">
                  <span>Secretaria Oficial II</span>
                </div>
              </div>
              <div class="member-info">
                <h4>Lic. Liliana Vázquez Quintero</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB6wpSTwywg2M9-J5jHgYKM_hWhfBpsCeGgaPM_J8MNyJhFe03Z_MmdOYntGoLeB2d3dM&usqp=CAU" width="360" height="360" class="img-fluid" alt="">
                <div class="social">
                  <span>Secretaria Sindical II</span>
                </div>
              </div>
              <div class="member-info">
                <h4>Lic. María Concepción Rosas Moreno</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="https://png.pngtree.com/png-vector/20220709/ourmid/pngtree-businessman-user-avatar-wearing-suit-with-red-tie-png-image_5809521.png" class="img-fluid" alt="">
                <div class="social">
                  <span>Asesor Técnico</span>
                </div>
              </div>
              <div class="member-info">
                <h4>Mtro. Israel Mario Ortega Cortés</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->