<!-- From Uiverse.io by micaelgomestavares -->
<div>
  
  <form
    class="form page-title"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <h1 class="text-align-center">Registrate</h1>

    <!-- Nombre -->

    <div class="form-group">
      <div class="flex-column">
        <label for="nombre_usuario">Nombre Completo </label>
        <div class="inputForm">
          <i class="bi bi-person-circle"></i>
          <input
            type="text"
            id="nombre_usuario"
            class="input"
            placeholder="Ingresa tu nombre"
            formControlName="nombre_usuario"
            (blur)="
              validateField(
                'nombre_usuario',
                registerForm.get('nombre_usuario')?.value
              )
            "
            [ngClass]="{
              'is-invalid':
                registerForm.get('nombre_usuario')?.invalid &&
                registerForm.get('nombre_usuario')?.touched,
                
            }"
          />

          <div class="inputForm"
            *ngIf="registerForm.get('nombre_usuario')?.hasError('fieldTaken')"
            class="text-danger"
          >
            Nombre invalido
          </div>
          <div
            *ngIf="
              registerForm.get('nombre_usuario')?.invalid &&
              registerForm.get('nombre_usuario')?.touched
            "
            class="invalid-feedback"
          >
            <div
              *ngIf="registerForm.get('nombre_usuario')?.errors?.['required']"
            >
              Nombre es requerido
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Teléfono -->
    <div class="form-group">
      <div class="flex-column"></div>
      <label for="telefono">Teléfono</label>
      <div class="inputForm">
        <i class="bi bi-telephone-fill"></i>
      <input
        type="text"
        id="telefono"
        class="input"
        placeholder="Ingresa tu telefono"
        formControlName="telefono"
        [ngClass]="{
          'is-invalid':
            registerForm.get('telefono')?.invalid &&
            registerForm.get('telefono')?.touched
        }"
      />

      <div
        *ngIf="
          registerForm.get('telefono')?.invalid &&
          registerForm.get('telefono')?.touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="registerForm.get('telefono')?.errors?.['required']">
          Teléfono es requerido
        </div>
      </div>
    </div>
    </div>

    <!-- CURP -->
    <div class="form-group">
      <div class="flex-column">
      <label for="curp">CURP</label>
      <div class="inputForm">
        <i class="bi bi-person-vcard-fill"></i>
      <input
        type="text"
        id="curp"
        class="input"
        placeholder="Ingresa tu CURP"
        onKeyUp="this.value=this.value.toUpperCase();"
        formControlName="curp"
        (blur)="validateField('curp', registerForm.get('curp')?.value)"
        [ngClass]="{
          'is-invalid':
            registerForm.get('curp')?.invalid &&
            registerForm.get('curp')?.touched
        }"
      />
      <div
        *ngIf="registerForm.get('curp')?.hasError('fieldTaken')"
        class="text-danger"
      >
         curp ya registrado.
      </div>
      <div
        *ngIf="
          registerForm.get('curp')?.invalid && registerForm.get('curp')?.touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="registerForm.get('curp')?.errors?.['required']">
          CURP es requerido
        </div>
        <div *ngIf="registerForm.get('curp')?.errors?.['pattern']">
          CURP invalido
        </div>
      </div>
    </div>
      </div>
      
    </div>

    <!-- Correo Electronico -->
    <div class="form-group">
      <div class="flex-column">
        <label for="email">Correo electrónico </label>
        <div class="inputForm">
          <i class="bi bi-envelope-fill"></i>
          <input
            type="email"
            id="email"
            class="input"
            placeholder="Ingresa tu correo"
            formControlName="email"
            (blur)="validateField('email', registerForm.get('email')?.value)"
            [ngClass]="{
              'is-invalid':
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.touched
            }"
          />
          <div
            *ngIf="registerForm.get('email')?.hasError('fieldTaken')"
            class="text-danger"
          >
            Email ya registrado.
          </div>
          <div
            *ngIf="
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
            "
            class="invalid-feedback"
          >
            <div *ngIf="registerForm.get('email')?.errors?.['required']">
              Email es requerido
            </div>
            <div *ngIf="registerForm.get('email')?.errors?.['email']">
              Formato de email inválido
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <div class="flex-column">
      <label for="contrasena">Contraseña</label>
      <div class="inputForm">
        <i class="bi bi-shield-fill"></i>
      <input
        type="password"
        id="contrasena"
        class="input"
        placeholder="Ingresa tu contraseña"
        formControlName="contrasena"
        [ngClass]="{
          'is-invalid':
            registerForm.get('contrasena')?.invalid &&
            registerForm.get('contrasena')?.touched
        }"
      />
      <div
        *ngIf="
          registerForm.get('contrasena')?.invalid &&
          registerForm.get('contrasena')?.touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="registerForm.get('contrasena')?.errors?.['required']">
          Contraseña es requerida
        </div>
        <div *ngIf="registerForm.get('contrasena')?.errors?.['minlength']">
          Contraseña debe tener al menos 6 caracteres
        </div>
      </div>
    </div>
    </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="form-group">
      <div class="flex-column"></div>
      <label for="confirmPassword">Confirmar Contraseña</label>
      <div class="inputForm">
        <i class="bi bi-shield-fill-check"></i>
      <input
        type="password"
        id="confirmPassword"
        class="input"
        placeholder="Confirma tu contraseña"
        formControlName="confirmPassword"
        [ngClass]="{
          'is-invalid':
            registerForm.get('confirmPassword')?.invalid &&
            registerForm.get('confirmPassword')?.touched
        }"
      />
      <div
        *ngIf="
          registerForm.get('confirmPassword')?.invalid &&
          registerForm.get('confirmPassword')?.touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
          Confirmar contraseña es requerida
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['mustMatch']">
          Las contraseñas no coinciden
        </div>
      </div>
    </div>
    </div>
    
    

    <button
      type="submit"
      class="button-submit"
      [disabled]="registerForm.invalid"
    >
      Registrarme
    </button>

    <p class="p">
      ¿Ya estás registrado?
      <a routerLink="/auth/loginMain" class="span">Inicia sesión</a>  
      o  
      <a routerLink="/escalafone" class="span">Volver a escalafone</a>
    </p>
    
    
  </form>
</div>
