  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about mt-5">
          <a href="index.html" class="logo d-flex align-items-center mt-5">
            <img src="img/Logos/SEPE_USET.png" class="img-fluid" alt="">
          </a>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Ya sabes donde encontrarnos</h4>
          <div class="footer-contact pt-3">
            <p><strong>Dirección:</strong> Carretera Federal Libre Tlaxcala– Puebla km.1.5 int. 5 las Ánimas</p>
            <p>Tlaxcala, C.P 90030</p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4 class="mt-5"></h4>
          <ul>
            <p><strong>Teléfono:</strong> <span>+52 246 462 3600</span></p>
            <p><strong>Correo electrónico:</strong> <span>webmaster&#64;septlaxcala.gob.mx</span></p>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>¿Ya nos sigues?</h4>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-youtube"></i></a>
          </div>
        </div>
        

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">SEPE | USET</strong> <span>Todos los derechos reservados</span></p>
      <div class="credits">
        Departamento de Tecnologías de la Información y Comunicación
      </div>
    </div>

  </footer>