<!-- Hero Section -->
<section id="hero" class="hero section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-lg-last">
        <img src="/img/Logos/florColor2.png" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1>Comisión Estatal Mixta de Escalafón Grupo IV</h1>
        <hr />
        <p></p>
        <div class="d-flex">
          <a (click)="goToSection('about')" class="btn-get-started cursor"
            >Ver más</a
          >
        </div>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</section>
<!-- /Hero Section -->

<!-- Stats Section -->
<section id="stats" class="stats section light-background">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i><img src="/img/Snte.png" alt="" width="80%" /></i>
        <div class="stats-item">
          <p>Sindicato Nacional de Trabajadores de la Educación</p>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i><img src="/img/Escalafon_LOGO2.png" alt="" width="80%" /></i>
        <div class="stats-item">
          <p>Comisión Estatal Mixta de Escalafón Grupo IV</p>
          <p></p>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i><img src="/img/Snte 21.png" alt="" width="80%" /></i>
        <div class="stats-item">
          <p>SNTE</p>
          <p>Sección 31</p>
        </div>
      </div>
      <!-- End Stats Item -->
    </div>
  </div>
</section>
<!-- /Stats Section -->

<!-- About Section -->
<section id="about" class="about section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">
      <div class="col-xl-5 content">
        <h3>Acerca de nosotros</h3>
        <h2>¿Qué es el Escalafón?</h2>
        <p></p>
        <ul>
          <li class="mb-3" style="text-align: justify">
            El Escalafón, es un sistema organizado en los Servicios de Educación
            Pública del Estado de Tlaxcala, para efectuar las promociones de
            ascenso y permuta de los trabajadores de base, y es aplicable a
            todos los trabajadores de la educación pertenecientes a la Sección
            31 del SNTE.
          </li>
          <li style="text-align: justify">
            Las promociones se llevan a cabo mediante concurso escalafonario,
            procedimiento mediante el cual la Comisión Estatal Mixta de
            Escalafón reconoce y certifica los derechos de los trabajadores, con
            base en la calificación de los factores escalafonarios, en estricto
            apego a lo que marca el propio reglamento.
          </li>
        </ul>
      </div>

      <div class="col-xl-7">
        <div class="row gy-4 icon-boxes">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-buildings"></i>
              <h3>Misión</h3>
              <p class="text-start">
                Sustentar, comprobar y ratificar el proceso escalafonario como
                un derecho laboral, en favor del Personal de Apoyo y Asistencia
                a la Educación.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-graph-up-arrow"></i>
              <h3>Visión</h3>
              <p class="text-start">
                Lograr que la Comisión Estatal Mixta de escalafón, sea una
                instancia que brinde certidumbre para el crecimiento laboral de
                PAAE como un derecho constitucional, con apego a las normas
                vigentes.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->

<!-- Why Us Section -->
<section id="why-us" class="why-us section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Objetivos</h2>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <span>01</span>
          <p>
            Mantener actualizado el Escalafón de los trabajadores y promover su
            difusión, para lograr los ascensos de manera transparente e
            imparcial.
          </p>
        </div>
      </div>
      <!-- Card Item -->

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card-item">
          <span>02</span>
          <p>
            Impulsar los mecanismos de capacitación para el personal directivo y
            sindical, con la finalidad de que otorguen los créditos
            escalafonarios.
          </p>
        </div>
      </div>
      <!-- Card Item -->

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card-item">
          <span>03</span>
          <p>
            Establecer un proceso transparente para permuta de los trabajadores
            del PAAE.
          </p>
        </div>
      </div>
      <!-- Card Item -->
    </div>
  </div>
</section>
<!-- /Why Us Section -->

<!-- Notices Section -->
 <app-newslatter></app-newslatter>
<!-- /Notices Secton -->

<!-- Quick Acees Section -->
<app-quick-acess></app-quick-acess>
<!-- /Quick Acees Section -->

<!-- Team Section -->
<app-teammates></app-teammates>
<!-- /Team Section -->

<!-- Contact Section -->
<app-contact></app-contact>
<!-- /Contact Section -->