  <!-- Navbar -->
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="" class="logo d-flex align-items-center me-auto">
        <img src="img/Logos/SEPE_USET.png" class="img-fluid" alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/escalafon/home">Inicio</a></li>
          <li><a routerLink="/escalafon/about">Acerca de nosotros</a></li>
          <li><a routerLink="/escalafon/access">Accesos rápidos</a></li>
          <li><a routerLink="/escalafon/teammates">Nuestro equipo</a></li>
          <li><a routerLink="/escalafon/contact">Contacto</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>