  <!-- Navbar -->
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a routerLink="/escalafon/home" class="logo d-flex align-items-center me-auto" (click)="closeMobileMenu()">
        <img src="img/Logos/SEPE_USET.png" class="img-fluid" alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/escalafon/home" (click)="closeMobileMenu()">Inicio</a></li>
          <li><a routerLink="/escalafon/about" (click)="closeMobileMenu()">Acerca de nosotros</a></li>
          <li><a routerLink="/escalafon/newslatter" (click)="closeMobileMenu()">Avisos</a></li>
          <li><a routerLink="/escalafon/access" (click)="closeMobileMenu()">Accesos rápidos</a></li>
          <li><a routerLink="/escalafon/teammates" (click)="closeMobileMenu()">Nuestro equipo</a></li>
          <li><a routerLink="/escalafon/contact" (click)="closeMobileMenu()">Contacto</a></li>
        </ul>
      </nav>

      <i class="mobile-nav-toggle d-xl-none bi" [class.bi-list]="!isMobileMenuOpen" [class.bi-x]="isMobileMenuOpen" (click)="toggleMobileMenu()"></i>

    </div>
  </header>