  <!-- Navbar -->
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a routerLink="/escalafon/home" class="logo d-flex align-items-center me-auto">
        <img src="img/Logos/SEPE_USET.png" class="img-fluid" alt="">
      </a>
      <nav id="navmenu" class="navmenu">
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted" (click)="logout()">Cerrar sesión</a>
    </div>
  </header>